<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>
		<diV th:fragment="footer" class="bg-dark text-white text-center py-3">
		 <div class="container">
            <p>Dirección: Av. Italia, San Salvador de Jujuy, Argentina</p>
            <p>Teléfono: (0388) 4244196 | Email: consultas@unju.edu.ar</p>
            <div>
               <a href="https://www.youtube.com/c/FacultaddeIngenier%C3%ADaUNJu/featured" class="link-success">Youtube</a>
               <a href="https://www.facebook.com/groups/326348747442003/" class="link-success">Facebook</a>
               <p>
            </div>
            <p>&copy; 2024 Facultad Ingenieria Unju - Universidad Nacional de Jujuy. Todos los derechos reservados.</p>

        </div>
		</div>
</body>
</html>