<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="	width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/styles.css">

<title>FormularioDocente</title>
</head>
<body>
<br><br>
<div class="containerForm">
	<h1>FORMULARIO DOCENTE</h1>
	<form data-th-object = "${nuevoDocente}" data-th-action="${band}?@{/modificarDocente}:@{/guardarDocente}" method="post">
	
		<div>
			<label for="legajo" class="form-label">Legajo</label> 
			<input type="text" class="form-control" id="legajo" data-th-field="*{legajo}"  data-th-readonly="${band}" required>
		</div>
		
		<div >
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}" required>
		</div>
		
		<div >
			<label for="apellido" class="form-label">Apellido</label>
			<input type="text" class="form-control" id="apellido" data-th-field="*{apellido}" required>
		</div>
		
		<div >
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control"  id="email" data-th-field="*{email}" required>
		</div>
		
		<div >
			<label for="legajo" class="form-label">Telefono</label> 
			<input type="text" class="form-control" id="legajo" data-th-field="*{telefono}" required>
		</div>
		
	<br>
		<button type="submit" class="btn btn-primary" >Guardar</button>
	</form>
</div>




	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>