<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TP4</title>
	<!--Import Google Icon Font-->
      <link data-th-href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<header>
			
		</header>
		<main>
			<h1>HOLA MUNDO</h1>
			<aside>
				<h1>ASIDE</h1>
			</aside>
		</main>
		
		<footer>
			<h1>FOOTER</h1>
		</footer>
	
	
	</div>
</body>
</html>