<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
<title>LISTA DE ALUMNOS</title>
</head>


<body>
	<header>
  		<div th:replace="~{fragments/header :: header}"></div>
  	</header>
		
    <br><br>
	<div class="container">
	<table class="table table-dark table-sm">
		<thead>
			<tr>
				<th scope="col">DNI</th>	
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Email</th>
				<th scope="col">Telefono</th>
				<th scope="col">Fecha de Nacimiento</th>
				<th scope="col">Domicilio</th>
				<th scope="col">Libreta Universitaria</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="Alumno : ${ListadoAlumnos}">
	      		<td data-th-text="${Alumno.dni}"></td>
	      		<td data-th-text="${Alumno.nombre}"></td>
	      		<td data-th-text="${Alumno.apellido}"></td>
	      		<td data-th-text="${Alumno.email}"></td>
	      		<td data-th-text="${Alumno.telefono}"></td>
	      		<td data-th-text="${Alumno.fechaNacimiento}"></td>
	      		<td data-th-text="${Alumno.domicilio}"></td>
	      		<td data-th-text="${Alumno.LU}"></td>
	      	<td>
				<a data-th-href="@{'/borrarAlumno/'+${Alumno.dni}}" class="btn btn-danger">Eliminar</a>					
				<a data-th-href="@{'/modificarAlumno/'+${Alumno.dni}}" class="btn btn-warning" >Modificar</a>
			</td>
	    </tr>
		</tbody>

	</table>
	</div>

<br><br><br><br>
<br><br><br><br>

	<footer>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>