<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Modificar Carrera</title>
</head>
<body>
	<header>
  		<div th:replace="~{fragments/header :: header}"></div>
  	</header>
		
    <br><br>
    
<div class="container">
	<h1>MODIFICAR CARRERA</h1>
	<form data-th-object="${carreraModificada}" data-th-action="@{/modificarCarrera} "  method=post>
	
		<div class="col-md-5">
			<label for="codigo" class="form-label">Codigo</label> 
			<input type="text" class="form-control" id="codigo" data-th-field="*{codigo}">
		</div>
		
		<div class="col-md-5">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="nombre" data-th-field="*{nombre}">
		</div>
		
		<div class="col-md-5">
			<label for="años" class="form-label">Cantidad de Años</label>
			<input type="number" class="form-control" id="años" data-th-field="*{cantAnios}">
			<br>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	<br>
    </form>
</div>
    
    <br>

	<footer>
		<div th:replace="~{fragments/footer :: footer}"></div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


       
</body>
</html>
